{% if states is iterable %}
	{% for state in states %}
		<div class="{{ (state.name in disabled) ? 'disabled' : '' }}">
			<label>
				<input type="checkbox" value="{{ state.name }}">
				&ensp;{{ state.name }} - {{ state.state }}
			</label>
		</div>
	{% endfor %}
{% endif %}
