# Auto detect text files and perform LF normalization
* text=auto

#
*.html text=auto
*.htm text=auto
*.css text=auto
*.scss text=auto
*.sass text=auto
*.less text=auto
*.js text=auto

*.php text=auto



*.jpg binary
*.png binary
*.gif binary
